<div class="container">
    <div class="jumbotron bg-primary text-light">
        <div class="row">
            <div class="mx-auto">
                <h1>Hello, world!</h1>
            </div>
        </div>
    </div>
</div>